@font-face {
	font-family: 'Conv_AvenirLTStd-Medium';
	src: url('../fonts/AvenirLTStd-Medium.eot');
	src: local('☺'), url('../fonts/AvenirLTStd-Medium.woff') format('woff'), url('../fonts/AvenirLTStd-Medium.ttf') format('truetype'), url('../fonts/AvenirLTStd-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_gotham-bold';
	src: url('../fonts/gotham-bold.eot');
	src: local('☺'), url('../fonts/gotham-bold.woff') format('woff'), url('../fonts/gotham-bold.ttf') format('truetype'), url('../fonts/gotham-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	border:0;
	margin:0;
}
img{
	border:none;
}
p{
	-webkit-margin-before: 10px;
	-webkit-margin-after: 1px;
}
#Gaia{
	width:810px;
	height:1104px;
	margin:auto;
}
#like{
	width:810px;
	height:1104px;
	background-image:url(../images/like.png);
	background-repeat:no-repeat;
}
#index{
	width:810px;
	height:845px;
	background-image:url(../images/index.png);
	background-repeat:no-repeat;
}
.lightbox{
	background-image:url(../images/litebox_bg.png);
	width:810px;
	height:1104px;
	position:absolute;
	z-index:99;
	display:none;
}
#terms_back_bg{
	background-color:#8ed6ed;
	width:650px;
	height:450px;
	position:absolute;
	margin-top: 101px;
	margin-left:101px;
	z-index:100;
	position:absolute;
	display:none;
}
#prize_back{
	width:610px;
	height:410px;
	position:absolute;
	margin-top: 20px;
	margin-left:20px;
	z-index:1;
	position:absolute;
	overflow:hidden;
	color:#FFF;
}
#prize_back_bg{
	background-color:#8ed6ed;
	width:650px;
	height:450px;
	position:absolute;
	margin-top: 101px;
	margin-left:101px;
	z-index:100;
	position:absolute;
	display:none;
}
#terms_back{
	width:610px;
	height:410px;
	position:absolute;
	margin-top: 20px;
	margin-left:20px;
	z-index:1;
	position:absolute;
	overflow:hidden;
	color:#FFF;
}
#error{
	position:absolute;
	margin-top:810px;
	margin-left: 307px;
	width: 277px;
	text-align:center;
	color:#F30;
	font-family: 'Conv_AvenirLTStd-Medium';
}
#footer1{
	position:absolute;
	margin-top:806px;
	width:810px;
	height:39px;
	background-image:url(../images/footer.png);
	background-repeat:no-repeat;
}
#footer{
	position:absolute;
	margin-top:561px;
	width:810px;
	height:39px;
	background-image:url(../images/footer.png);
	background-repeat:no-repeat;
}
.home{
	text-align:center;
	float:left;
	color:#eaf8fe;
	cursor:pointer;
	text-transform:uppercase;
	font-family: 'Conv_gotham-bold';
	margin-top:0px;
	border:none;
	box-shadow: 0 0 10px #b2edfa;

}
.f_btn{
	text-align:center;
	float:left;
	color:#03468c;
	cursor:pointer;
	text-transform:uppercase;
	font-family: 'Conv_gotham-bold';
	margin-top:0px;
	border:none;

}
.f_btn:hover{
	color:#eaf8fe;
	box-shadow: 0 0 10px #b2edfa;
}
.footer_v{
	width:5px;
	height:39px;
	background-image:url(../images/footer_b.png);
	background-repeat:no-repeat;
	float:left;
	border:none;
	margin:0;
}
#f_home{
	width:128px;
	height:39px;
}
#f_play{
	width:131px;
	height:39px;
}
#f_vote{
	width:115px;
	height:39px;
}
#f_prizes{
	width:134px;
	height:39px;
}
#f_tc{
	width:282px;
	height:39px;
}
#video{
	position:absolute;
	width:560px;
	height:315px;
	margin-left:128px;
	margin-top:48px;
}
#apply_card{
	position:absolute;
	width: 149px;
	height: 51px;
	margin-left: 222px;
	margin-top: 731px;
	cursor:pointer;
	background-image:url(../images/apply_for_card.png);
}
#skip_play{
	position:absolute;
	width: 149px;
	height: 51px;
	margin-left: 445px;
	margin-top: 731px;
	cursor:pointer;
	background-image:url(../images/skip_to_play.png);
}
#bottom_form{
	width:810px;
	height:259px;
	background-image:url(../images/form.png);
	background-repeat:no-repeat;
	display:none;
}
#bottom_form_table{
	position:absolute;
	width: 538px;
	height: 180px;
	margin-left: 156px;
	margin-top: 5px;
	display:none;
}
.form_name{
	width:137px;
	text-align:right;
	text-transform:uppercase;
	color:#FFFFFF;
	font-family: 'Conv_AvenirLTStd-Medium';
}
.form_input{
	background-color:#59a7c7;
	border:none;
	height:20px;
	width:284px;
	color:#FFF;
	text-indent:6px;
}
.form_input:focus{	
	outline: none;
    border: 1px solid #b2edfa;
    box-shadow: 0 0 10px #b2edfa;
}
#submit{
	position:absolute;
	width:73px;
	height:73px;
	margin-top: 95px;
	right: 6px;
}
#submit_btn{
	background-image:url(../images/submit.png);
	background-repeat:no-repeat;
	background-color:transparent;
	border:none;
	width:73px;
	height:73px;
	cursor:pointer;
	display:block;
	outline: none;
}

#fillout{
	width:810px;
	height:600px;
	background-image:url(../images/fillout.png);
	background-repeat:no-repeat;
	position:absolute;
}
#fillout_form{
	position:absolute;
	width: 751px;
	height: 275px;
	bottom: 51px;
	margin-left: 20px;
}
#fillout_text{
	position:absolute;
	margin-left:14px;
}
.fillout_title{
	color:#014289;
	text-transform:capitalize;
	font-family: 'Conv_gotham-bold';
	font-size:12px;
}
.fillout_input{
	width:214px;
	height:23px;
	color:#FFF;
	text-indent:6px;
	border:none;
	background-color:#8ecee1;
}
.fillout_input:focus{	
	outline: none;
    border: 1px solid #b2edfa;
    box-shadow: 0 0 10px #b2edfa;
}
#fillout_pic{
	position:absolute;
	width: 482px;
	height: 262px;
	right: 3px;
	margin-top: 3px;
}
.fillout_pic_choose{
	cursor:pointer;
	opacity: 0.3;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}
#thumb1{
	position:absolute;
	margin-left: 13px;
	margin-top: 14px;
}
#thumb2{
	position:absolute;
	margin-left: 174px;
	margin-top: 14px;
}
#thumb3{
	position:absolute;
	margin-left: 336px;
	margin-top: 14px;
}
#thumb4{
	position:absolute;
	margin-left: 13px;
	margin-top: 145px;
}

#upload_submit{
	position:absolute;
	right:0px;
	bottom:0px;
	width: 280px;
	height: 83px;
	overflow:hidden;
}
#choose{
	width:280px;
	height:50px;
}
#continue{
	width:160px;
	height:23px;
	position:absolute;
	margin-top: -7px;
	margin-left: 19px;
	cursor:pointer;
}
#continue_submit{
	width:160px;
	height:23px;
	background-image:url(../images/continue.png);
	border:none;
	outline:none;
	cursor:pointer;
	color:#FFF;
	font-family: 'Conv_gotham-bold';
}
#error_play{
	position:absolute;
	width:810px;
	margin-top: 239px;
	text-align: center;
	font-family: 'Conv_gotham-bold';
	color:#F30;
}

#play{
	width:810px;
	height:600px;
	background-image:url(../images/play2.png);
	background-repeat:no-repeat;
	position:absolute;
}
#blank{
	position:absolute;
	width: 484px;
	height: 384px;
	margin-left: 183px;
	margin-top: 76px;
	overflow:hidden;
}
#blank2{
	position:absolute;
	width: 484px;
	height: 384px;

}
.play_options{
	position:absolute;
	width: 181px;
	height: 34px;
	margin-left: 445px;
	margin-top: 508px;
}
#preview{
	position:absolute;
	right:0px;
	top:0px;
	width: 100px;
	height: 23px;
	cursor:pointer;
	background-image:url(../images/continue.png);
	text-align:center;
	color:#FFF;
	font-family: 'Conv_gotham-bold';
}
#option2{
	display:none;
}
#save{
	float:left;
	width: 82px;
	height: 23px;
	cursor:pointer;
	background-image:url(../images/continue.png);
	text-align:center;
	color:#FFF;
	font-family: 'Conv_gotham-bold';
}

#back{
	float:right;
	width: 82px;
	height: 23px;
	cursor:pointer;
	background-image:url(../images/continue.png);
	text-align:center;
	color:#FFF;
	font-family: 'Conv_gotham-bold';
}